*,*::after,*::before { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 

/*Default styles*/ 

body { 
    max-height: 100vh;
    position: relative;
}

/*Nav styles start*/
#main-nav {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: grid; 
    grid-template-columns: 1fr 4fr 2fr;
    padding: 3em 40px; 
    gap: 5px;  
    background: #020024;
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 213, 255) 100%);
} 

#main-nav > article {  
    display: flex; 
    align-items: center; 
    justify-content: center;
}   

#logo-wrapper{ 
    display: grid; 
    grid-template-columns: 4fr 1fr; 
    width: 100%;
    gap: 2vw;
}

#logo-wrapper span { 
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.fa-plane-departure  { 
    transform: scale(3); 
    color: rgb(255, 255, 255); 
} 

#links { 
    display: flex; 
    align-items: center; 
    justify-content: space-evenly; 
    width: 60%; 
    list-style: none;
} 

#links .link a { 
    text-decoration: none !important; 
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}    

#links .link a:hover { 
   border-bottom: 2px solid rgba(232, 7, 7, 0.866); 
   padding-bottom: 8px;
   transition: .2s all ease-in-out;
}

.fa-brands { 
    transform: scale(1.5);
} 

.social-media-link a i:hover {
  background: linear-gradient(90deg, rgb(0, 213, 255), rgb(0, 119, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.social-media-link a i:hover {
  transform: scale(1.8);
}

#search-container { 
    margin-left: auto !important;
    background-color: rgba(232, 7, 7, 0.866);
    padding: 0 20px; 
    border-radius: 25px;
} 

#search-container > form > button  { 
    border: none; 
    outline: none; 
    stroke: none; 
    background-color: rgba(255, 255, 255, 0); 
    color: rgb(255, 255, 255);
    margin-right: 15px;
} 

#search-container > form > button > i  { 
  transform: scale(1.2);
}
#search-input { 
    width: fit-content !important; 
    min-width: 400px; 
    padding: 10px 1vw; 
    outline: none;
    stroke: none; 
    border: none; 
    background-color: rgba(255, 255, 255, 0); 
    color: rgb(255, 255, 255) !important; 
    font-size: 1em;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}  

#search-input::placeholder { 
    color: rgb(255, 255, 255); 
    opacity: 1;
}


/*Nav styles end*/  

/*main-section*/
#main-section, #about-page { 
    padding: 0 40px; 
    background-image: url('public/tom-podmore-3mEK924ZuTs-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    min-height: 100vh;
}

#hero-section { 
    display: grid; 
    grid-template-columns: 10% 90%;
    align-items: start;
    background-color: rgba(0, 0, 0, 0);
    min-height: 100vh;
    height: 100% !important;
} 

#hero-section article { 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    height: 100%;
} 

#social-media-links-container { 
    padding-top: 15vh;
    align-items: start;
} 

.vertical-line { 
    min-height: 60%;
    width: 4px;
    background-color: #f6f6f6;
} 

#social-media-links ul { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5vh 0;
    height: 100%;
    list-style: none;
}  


#social-media-links ul li a i { 
    color: white;
}

#hero-content-wrapper {  
    padding-top: 20vh;
    padding-right: 20vw;
    align-items: start;
    justify-content: start !important;
} 

h1 { 
    font-size: 8em;
    margin-bottom: 5vh;
    color:  rgb(222, 20, 20);
   -webkit-text-stroke: 1px rgba(233, 219, 219, 0.751); 
} 

#hero-content-wrapper p { 
    font-size: xx-large;
    margin-bottom: 3vh; 
    color: rgb(255, 255, 255);
    background-color: #00000034;
} 

#hero-content-wrapper a { 
    border-radius: 3px;
    text-decoration: none;  
    color: #e9e8ef;
    font-size: xx-large; 
    background: #ffffff76; 
    padding: .8em 2em ;
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 213, 255) 100%);
    font-weight: 900;
}

/*Hero section styles start*/  


/*About section*/
#company-team {  
    display: flex;  
    flex-direction: column; 
    align-items: start; 
    justify-content: start !important;
    background: #020024;
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 213, 255) 100%); 
    width: 130%;
    margin-bottom: 6vh !important;
    padding: 2em;
}  

.about-description { 
    font-size: x-large !important;
}

#company-team h3 {   
    font-size: 2em;
    color:  rgb(255, 255, 255);
    margin-bottom: 2vh;
} 

#profiles ul { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    align-items: center;
    justify-content: start;
    gap: 2em; 
    list-style: none;
    color: white;
}   

#profiles ul li { 
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align:left;
}

#profiles ul li img { 
    display: block;
    margin-bottom: 1.1em;
}

#profiles ul li p { 
    font-size: 1.2em;
    margin-bottom: 1.2em 0;
    background-color: #00000000; 
    padding: 0;
} 

.position  { 
    background-color: rgb(222, 20, 20); 
    padding: 0.8em 1.2em ;
    border-radius: 5px;
}


#contact-form {  
    display: flex; 
    flex-direction: column;   
    align-items: start;
    width: 100%; 
    padding: 2% 5%;
    background-color: rgba(0, 0, 0, 0.24);
}   

.contact-us-header { 
    font-size: 7em;
    margin: 0;
}

#contact-form label { 
    font-size: x-large; 
    font-weight: 900; 
    font-family: 'Courier New', Courier, monospace; 
    color: white;
}

#contact-form input, #contact-form textarea { 
    margin-bottom: 2em;  
    min-height: 2vh;
    width: 100%;
    background-color: #00000000;
    border: 2px solid #ffffff; 
    font-size: x-large; 
    font-weight: 900; 
    font-family: 'Courier New', Courier, monospace; 
    color: white;
}  

#contact-form textarea  { 
    height: 20vh !important;
}

#contact-form button { 
    font-size: x-large; 
    font-weight: 900; 
    font-family: 'Courier New', Courier, monospace; 
    color: white;
    background-color: rgb(222, 20, 20); 
    padding: .6em; 
    border-radius: 5px;
}  


#search-recommendations { 
   display: flex; 
   flex-direction: column; 
   align-items: start;
   justify-content: space-between;
   top: 14vh; 
   right: 10vw;
   position: absolute;
   background-color: rgba(38, 38, 196, 0) ; 
   height: 86vh;
   width: 40% !important;
   padding: 0 2em; 
   padding-top: 1vh;
   overflow-y: scroll;
   overflow-x: hidden;
   z-index: 10;
} 

.recommendation {  
    position: relative;
    display: flex; 
    flex-direction: column;
    min-height: 40vh; 
    background-color: white; 
    width: 100%;
    margin-bottom: 2VH;
    z-index: 1000000; 
    background: #020024;
    background: rgb(234, 56, 56);
} 

.recom-image { 
    min-height: 60%;
    margin-bottom: 2vh;
} 

.recommendation-name { 
    color: white; 
    font-size: xx-large;
    padding-left: 4%;
} 

.recommendation-description { 
    font-size: large; 
    color: white;
    padding-left: 5%;
    padding-right: 2%;
} 

.recom-btn {  
    position: absolute;
    border: none; 
    padding: .2em 2em;
    margin: right !important; 
    width: 100%;
    bottom: 0;
    font-size: large; 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bolder; 
    color: white;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.455) 0%, rgba(9, 9, 121, 0.373) 35%, rgb(0, 213, 255) 100%);
}

.hide-recoms {  
    display: none !important;
}

.show-recom { 
    display: none;
} 

@media only screen and (max-width: 600px) {
  .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}
